.semi-circle-left,
.semi-circle-right {
    position: absolute;
    height: 30px; /* Adjust height as needed */
    width: 40px;
    background-color: #1B6EEA; /* Color of the semi-circles */
    border-radius: 50%; /* Shape of the semi-circles */
}

.semi-circle-left {
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
}

.semi-circle-right {
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}
.custom-shadow {
    box-shadow: -4px -8px 12px rgba(92, 86, 86, 0.3), 4px 4px 6px rgba(75, 72, 72, 0.4);
  }
  